@media (max-width:992px){
	.sm-hidden{
		display: none;
	}
	.banner-desc{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%)  translateY(-50%);
		-webkit-transform: translateX(-50%)  translateY(-50%);
		-moz-transform: translateX(-50%)  translateY(-50%);
		-o-transform: translateX(-50%)  translateY(-50%);
		width: 50%;
		text-align: center;
	}
	.banner-desc h4{
		font-size: 20px;
	}
}
@media (min-width:768px) and (max-width:991px){
	.container{
		width: 750px;
	}
}
@media only screen and (min-width:480px) and (max-width:767px){
	.container{
		width: 450px;
	}
}
@media (max-width:767px){
	.xs-hidden{
		display: none;
	}
	.banner-desc h4,.banner-desc p,.banner-desc a{
		font-size:12px;
	}
	.banner-desc h4,.banner-desc p{
		display: none;
	}
}
@media (max-width:480px){
	.container{
		width: 300px;
	}
}
@media (max-width:1919px){
	.banner img{
		height:auto;
	}
}